<header >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">

  <mat-toolbar color="primary">
    <a [routerLink]="['/']" class="logo"></a>
    <a [routerLink]="['/']" class="toolbar-buttons"> Home </a>
    <a class="toolbar-buttons"> Deals </a>
    <a [routerLink]="['/about']" class="toolbar-buttons"> About </a>

    <span class="example-spacer"></span>
    <a class="links side" [routerLink]="['/auth/login']" *ngIf="!user">Login</a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>{{user.fullname}}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin']">admin</button>
        <button mat-menu-item (click)="logout()">logout</button>
        <button mat-menu-item (click)="profile()">profile</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
