.shadow {
    box-shadow: -20px 0px 100px -60px #000000, 
    			 20px 0px 100px -60px #000000;
}

.page_margin{
	width: 80%;
    margin-left: 10%;
    bottom: 30px;
}

.text{
	margin-left: 50px;
    margin-right: 50px;
    font-style: oblique;
    margin-bottom: 100px;
    text-align: justify;
}

.header{
    text-align: center;
	font-size: larger;
    text-decoration: underline;
    color: #fdbd47;
    text-shadow: -1px 0, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: -20px;
}

.hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    margin-top: -10px;
    position: relative;
    border-style: ridge;
    border-width: 2px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #6a3d0b96;
}