.shadow {
    box-shadow: -20px 0px 100px -60px #000000, 
    			 20px 0px 100px -60px #000000;
}

.page_margin{
	width: 80%;
    margin-left: 10%;
    bottom: 30px;
}

.text{
	position: relative;
	top: 100px;
	text-align: center;
}
