<div class="page_margin shadow text">	
	<h1>Cart</h1>	

	<div *ngIf="cartReady" ng-app="" class="container col-md-6">	
		<table class="table table-sm table-hover ">
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Remove from Cart</th>
					<th><th>
				</tr>
			</thead>
			<tbody>
				
				<tr *ngFor = "let item of shoppingCart">
					<td>{{item["name"]}}</td>
					<td>{{item["price"]}}</td>
					<td>{{item["quantity"]}}</td>
					<td><button (click)="removeFromCart(item._id)" type="button" class="btn btn-dark">Remove</button></td>
					
				</tr>
			</tbody>
			<thead>
				<tr>
					<th>Total</th>
					<td>${{this.totalPrice}}<td>
				</tr>
			</thead>
			<tbody>



		</table>

		<button type="button" class="btn btn-dark" style="margin-left:46%; margin-bottom: 5%; background: #2cad66;"> Checkout</button>


		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin-left: -60%;">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="123@yahoo.com">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="button_subtype" value="services">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>



	</div>	
</div>	