<div class="page_margin shadow text">	
	<div *ngIf="fridgeReady" ng-app="" class="container col-md-6" >		
		<h1>Menu</h1>
		<table class="table table-sm table-hover ">
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>
					<!-- <th>Item ID</th> -->
					<th>Add to Cart</th>
					<th><th>
				</tr>
			</thead>
			<tbody>
				
				<tr *ngFor = "let item of fridge">
					<td>{{item['name']}}</td>
					<td>{{item["price"]}}</td>
					<td>{{item["quantity"]}}</td>
					<!-- <td>{{item["_id"]}}</td> -->

					<td><button (click)="addToCart(item._id,item.vendorId)" type="button" class="btn btn-dark">Add</button></td>

				</tr>
			</tbody>
		</table>

		<!-- For testing purposes
		<p>Input something: </p>
		<p>Name: <input type="text" [(ngModel)]="name"> </p>
		<p >Hello {{name}}</p> -->


			
	</div>
		

</div>
